#totalExpence{
    border: 4px solid grey;
    background-color: red;
    color: black;
    font-weight: bolder;
    padding: 0.5em;
    margin: 1em;
    margin-right: 3em;
    border-radius: 10px;
}
#totalIncome{
    border: 4px solid grey;
    background-color: lightgreen;
    color: black;
    font-weight: bolder;
    padding: 0.5em;
    margin: 1em;
    margin-left: 3em;
    border-radius: 10px;
}
#totalTransactionAmountContainer{
    text-align: center;
    padding: 0.5em;
    margin: 0.5em;
}
#userProfile{
    background-color: aqua;
    border-radius: 1em;
    border: 0.2em solid blue;
    margin: 1em;
}
#addTransactionBtn{
    background-color: yellow;
    border-radius: 1em;
    border: 0.2em solid orangered;
    margin: 1em;
}