.transaction-card{
    margin: 1em;
    border: 5px solid purple;
}
.row{
    text-align: left;
    border: 0.1em solid grey;
    margin: 0px;
}
#deleteButton{
    border: 2px solid grey;
    background-color: red;
    color: black;
    border-radius: 7px;
    margin: 2px;
}