.adminDashboard{
    border: 0.3em solid brown;
    padding: 3em;
    margin: 5em;
    text-align: center;
    background-color: antiquewhite;
    border-radius: 2em;
}
#userId{
    width: 15em;
    height: 3em;
    border-radius: 1em;
    background-color: blue;
    font-weight: bolder;
    color: aliceblue;
    text-align: center;
    font-size: 1em;
}   
#submit{
    margin: 1.5em;
    width: 8em;
    height: 2em;
    background-color: magenta;
    color: white;
    font-size: 1em;
    font-weight: bolder;
}
.roleLabel{
    display: inline-block;
    margin: 1em;
    font-size: 1.5em;
    color: brown;
    font-weight: bolder;
}
#linkToAddUser{
    text-decoration: underline;
    font-weight: bold;
}